.map {
  height: 100%;
  width: 100%;

  .marker {
    border-radius: 50%;
    border: 4px solid #00b9cb;
    object-fit: cover;
  }

  .eventderMarker {
    border-radius: 50%;
    border: 4px solid #cc0070;
    object-fit: cover;
  }
}
