.inputContainer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputLabel {
  cursor: pointer;
}

.inputButton {
  width: 10vh;
  height: 10vh;
}
