.root {
  display: flex;
  justify-content: center;
}

.title {
  color: #00b9cb;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verticalAlignment {
  margin-top: 16vh;
}

.footerButton {
  cursor: pointer;
  margin: 8px;
  font-weight: bold;
  color: #00b9cb;
  font-size: 12px;
  display: inline-block;
}

.footerButton:hover {
  color: #007a85;
}
