.root {
  display: flex;
  justify-content: center;
}

.title {
  color: #00b9cb;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verticalAlignment {
  margin-top: 23vh;
}
