.root {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 30px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verticalAlignment {
  margin-top: 23vh;
}
